.production-chart-container {
  width: 100%;
  background-color: transparent;
}

.chart-box {
  background-color: #e5eff2; /* 부드러운 하늘색 */
  border-radius: 16px;
  padding: 16px;
}

.nav-button {
  background: none;
  border: none;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  padding: 0 10px;
  color: #222;
}
.nav-button:hover {
  font-weight: bold;
}